.grid  {
    background-color:#F0F0F0;
    border: 0px;
    float: left;

}

.container {
	width: 600px;
	height: 600px;
	margin: 10px auto;
	border: 1px solid black;
}

.button-container {
	text-align:center;
	margin: 20px;
}